@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark text-brand-text-primary antialiased selection:bg-brand-primary selection:text-white;
  }
}

/* Custom Scrollbar for modern feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-brand-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-brand-surfaceHighlight rounded-full hover:bg-brand-primary;
}
